body {
  background-color:#FFEEF9;  
  font-size: 12px/1.2px; 
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  /* Prevents Mobile Safari from bumping up font sizes in landscape */
  -webkit-text-size-adjust: 100%; 
  -webkit-tap-highlight-color: rgb(255,255,0);
}
.content-header{
  	border:1px solid red;
  	position:relative;
}
.logo{
  width:156px;
  height:179px;
  text-indent:-99999px;
  margin:0 auto;
  background-image:url('../img/logo-gigi.png');
}
.linea1{
  display:none;
}
.linea2{
	display:none;
}
.upload-text{
  position:absolute;
  right:0;
  top:89px;
  color:#e54e8a;
  font-size:15px;
  text-decoration:none;
}
#fotos{
  position:absolute;
  left:0;
  top:94px;
  color:#e54e8a;
  font-size:15px;
  text-decoration:none;
}
.home-intro{
  margin-top:10px!important;
  margin:0 auto;
  background-image:url('../img/texto_mobil.png');
  width:300px;
  height:375px;
  text-indent:-9999px;
}

.fotos-titulo{
  margin-top:10px!important;
  margin:0 auto;
  background-image:url('../img/fotos-mobil.png');
  text-indent:-9999px;
  margin:0 auto;
  width:270px;
  height:59px;
}
.video-titulo{
	display:none;
}
.video-embed{
	display:none;
}
.youtube{
	display:none;
}