
.content-header{
  	border:1px solid red;
}
/*.linea1{
  position:absolute;
  left:0;
  top:89px;
  background-image:url('../img/linea1.png');
  width:233px;
  height:23px;
  text-indent:-9999px;
}
.linea2{
  position:absolute;
  right:0;
  top:89px;
  background-image:url('../img/linea2.png');
  width:233px;
  height:23px;
  text-indent:-9999px;
}*/