/*  

  Less+ by Jimmy Rosén, http://www.angrycreative.se/projekt/less-framework
  Based on Less Framework 3 by Joni Korpi, http://lessframework.com
  
*/

/*  
  THIS DOCUMENT IS FOR GLOBAL DEFINITIONS ONLY.
  NO HEIGHTS, WIDTHS, PADDINGS OR MARGINS THAT WON'T BE APPLICABLE FOR ALL SCREEN RESOLUTIONS.
*/

body {
  background-color:#FFEEF9;  
  font-size: 12px/1.2px; 
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  /* Prevents Mobile Safari from bumping up font sizes in landscape */
  -webkit-text-size-adjust: 100%; 
  -webkit-tap-highlight-color: rgb(255,255,0);
}
h1, h2, h3, h4{
  font-weight:400;
}
h1{
  font-size:4em;
}
h2{
  font-size:3em;
}
h3{
  font-size:2em;
}
p{
  font-size:1em;
}
.content-header{
  position:relative;
  margin-top:10px!important;
}
.logo{
  width:156px;
  height:179px;
  text-indent:-99999px;
  margin:0 auto;
  background-image:url('../img/logo-gigi.png');
}
.linea1{
  position:absolute;
  left:0;
  top:89px;
  background-image:url('../img/linea1.png');
  width:233px;
  height:23px;
  text-indent:-9999px;
}
.linea2{
  position:absolute;
  right:0;
  top:89px;
  background-image:url('../img/linea2.png');
  width:233px;
  height:23px;
  text-indent:-9999px;
}
.upload-text{
  position:absolute;
  right:270px;
  top:89px;
  background-image:url('../img/subir-fotos.png');
  width:100px;
  height:25px;
  text-indent:-9999px;
}
#fotos{
  position:absolute;
  left:270px;
  top:94px;
  background-image:url('../img/ver-fotos.png');
  width:89px;
  height:13px;
  text-indent:-9999px;
}
.home-intro{
  margin-top:40px!important;
  margin:0 auto;
  background-image:url('../img/texto.png');
  width:410px;
  height:514px;
  text-indent:-9999px;
}
#content{
  overflow-y:auto
}
#gallery{
  list-style:none;
  margin:20px 0 0 0;
  padding:0
}
#gallery li{
  display:block;
  float:left;
  width:155px;
  height:160px;
  background:#9AF099;
  border:1px solid #093;
  text-align:center;
  padding:6px 0;
  margin:5px 0 5px 14px
}
#gallery li img{
  width:145px;
  height:140px
}
.fotos-titulo{
  margin-top:40px!important;
  margin:0 auto;
  background-image:url('../img/titulo-fotos.png');
  width:918px;
  height:60px;
  text-indent:-9999px;
  margin:0 auto;
}
.video-titulo{
  margin-top:40px!important;
  margin:0 auto;
  background-image:url('../img/titulo-video.png');
  width:911px;
  height:60px;
  text-indent:-9999px;
  margin:0 auto;
}
.video-embed{
  margin:0 auto;
  width:400px;
  height:200px;
  background-color:#000;
  margin-top:20px;
}
.youtube{
  text-indent:-9999px;
  position:absolute;
  width:400px;
  height:200px;
}
.adjuntar-content{
  margin-top:20px;
  position:relative;
  height:123px;
}
#content{
  position:relative;
}
.scroll-top{
  position:fixed;
  left:20px;
  bottom:10px;
  background-color:#fff;
  width:123px;
  height:123px;
}
.upload-logo{
  position:fixed;
  right:20px;
  bottom:10px;
  background-image:url('../img/boton_subir.png');
  width:123px;
  height:123px;
  text-indent:-9999px;
}

/*#container{
  -moz-box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
}*/
